@import "tailwindcss";

@layer base {
  body {
    color: #000;
    min-height: 100vh;
  }
}
html, body {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #f7f7f7;
}
